body {
    margin: 0;
    padding: 0;
}

/* WIP */
#results, #footer {
    display: none;
}

/* HEADER */

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER TOP */

.header-top {
    width: 100%;
    display: flex;
    height: 65px;
    padding-top: 10px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

/* LOGO */
.logo {
    height: 34px;
    width: 92px;
    padding-top: 4px;
    padding-right: 28px;
    padding-left: 25px;
    top: 4px;
}

.logo img {
    height: 31px;
    width: 91px;
}

/* SEARCH */

.searchbar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 655px;
    height: 44px;
    display: flex;
    padding-left: 20px;
    margin-left: 15px;
    flex-shrink: 0;
    padding-right: 4px;
}

.searchbar input {
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    font-size: 16px;
}

.searchbar input:focus {
    outline: 0;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.x-icon {
    color: #80868b;
    fill: #80868b;
    width: 43px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.horizontal-rule {
    border-left: 1px solid rgb(223, 225, 229);
    height: 65%;
    padding-left: 2px;
    padding-right: 2px;
}

.microphone-icon, .search-icon {
    height: 44px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 8px 0 8px;
}

/* ACCOUNT MENU */

.account-menu {
    display: flex;
    margin-left: auto;
    width: 132px;
    align-items: center;
    justify-content: center;
}

.apps-icon {
    height: 24px;
    width: 24px;
    padding: 8px;
    vertical-align: middle;
    fill: #5f6368;
}

.user-logo {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.user-logo-wrapper {
    padding: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER BOTTOM */

.header-bottom {
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235);
    height: 58px;
    display: flex;
    align-items: center;
    position: relative;
    top: -10px;
}

/* SEARCH MENU */

.search-options {
    font-family: arial, sans-serif;
    width: 655px;
    height: 58px;
    margin-left: 169px;
    justify-content: space-between;
    display: flex;
}

.search-options a{
    color:rgb(95, 99, 104);
    text-decoration: none;
    padding: 16px 12px 12px 10px;
    font-size: 13px;
    margin: 11px 1px 0px 1px;
    height: 16px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 16px;
}

.search-option {
    display: flex !important;
    align-items: baseline !important;
}

.search-option-text {
    height: 16px;
    width: auto;
    font-size: 13px;
    line-height: 16px;
}

.search-type {
    display: flex;
    height: 100%;
    width: 632px;
    align-items: center;
}

.icon {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: bottom;
    line-height: 16px;
}

.icon svg {
    height: 16px;
    width: 16px;
    fill: rgb(95, 99, 104);
    vertical-align: text-bottom;
    line-height: 16px;
    font-size: 13px;
}

.search-more-options {
    width: auto;
    display: flex;
    align-items: center;
}

.search-option-active {
    border-bottom: 3px solid rgb(26, 115, 232);
    color: rgb(26, 115, 232) !important;
    margin-bottom: -3px !important;
}